<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Momento favorito #1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">moment</ion-title>
    </ion-toolbar>
  </ion-header>

  <video controls>
    <source src="assets/videos/vmont1.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de video.
  </video>
  <ion-item>
    En esta escena Miranda Wells tiene un pequeño accidente con Bray Johnson y este es servicial con Miranda 
    al ofrecerse para la reparación del vehículo de Miranda.
  </ion-item>
  
</ion-content>
