<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Katie Holmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Katie Holmes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="assets/img/KatieH.jpg" width="350px" height="250px" alt="Imagen de Katie Holmes"/>
    </ion-item>

    <ion-item class="ola">
       Miranda Wells (Katie Holmes) es una joven viuda trabajadora, que lucha continuamente para llegar a fin de
       mes en la zona rural de Louisiana mientras cría a tres hijos: Missy, Greg y Bess. 
       Miranda está saliendo con Tucker (Jerry O'Connell), cuya rica familia es dueña del restaurante local 
       donde trabaja. Tucker está enamorado de Miranda y expresa su afecto por la viuda y su familia a través 
       de actos de generosidad. Miranda, aunque se preocupa profundamente por Tucker, prefiere mantener su 
       independencia y no está lista para comprometerse por completo. 
    </ion-item>
  </ion-list>
</ion-content>
