<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <p>
        <a href="/person" class="ion-text-underline">Katie Holmes</a>.
      </p>
    </ion-item>

    <ion-item>
      <p>
        <a href="/person2" class="ion-text-underline">Josh Lucas</a>.
      </p>
    </ion-item>

    <ion-item>
      <p>
        <a href="/person3" class="ion-text-underline">Jerry O´Connell</a>.
      </p>
    </ion-item>

  </ion-list>

</ion-content>
