<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Momento favorito #3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">moment3</ion-title>
    </ion-toolbar>
  </ion-header>

  <video controls>
    <source src="assets/videos/vmont3.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de video.
  </video>

  <ion-item>
    En esta escena Miranda Wells y Bray Johnson a pesar de un mal entendido que pasaron se dan cuenta que los dos se aprecian 
    mucho y deciden dar el otro paso para estar felices y juntos como familia.
  </ion-item>
  
</ion-content>
