<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contr&aacute;tame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contratame</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="assets/img/LPY00435 OFF.jpg" width="200px" height="200px" alt="Mi foto">
    </ion-item>
    <ion-item>
      <i>Willie Rosario Alvarez</i> 
    </ion-item>
    <ion-item>
      <i><b>Correo: </b>wrosario214@gmail.com</i>
    </ion-item>
    <ion-item>
      <i><b>Correo institucional: </b>20210009@itla.edu.do</i>
    </ion-item>
    <ion-item>
      <i><b>N&uacute;mero celular: </b>+1 (809) 408 2297</i>
    </ion-item>

  </ion-list>
</ion-content>
