<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jerry O´Connell</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jerry O´Connell</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="assets/img/Jerry.jpg" width="350px" height="300px" alt="Imagen de Jerry O´Connell"/>
    </ion-item>

    <ion-item class="enamorado">
      Tucker es retratado como un hombre trabajador, inteligente y con un gran sentido del humor. 
      A través de su personaje, Jerry O'Connell logra transmitir una autenticidad y una calidez que hace que 
      los espectadores se conecten con él. Su presencia en pantalla es agradable y aporta un alivio cómico en 
      momentos oportunos, equilibrando la historia con su encanto y carácter amigable.
      <br><br>
      Además de su papel romántico, Jerry O'Connell también muestra una faceta más vulnerable y emocional a 
      medida que avanza la trama. Su actuación en escenas más dramáticas es convincente y logra transmitir 
      las complejidades emocionales del personaje.
    </ion-item>
  </ion-list>

</ion-content>
