<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reflexi&oacute;n</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vida</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="pepe">
    Esta pel&iacute;cula es importante en mi vida porque me enseña a reflexionar sobre la importancia de 
    cultivar una mentalidad positiva y enfocada en nuestros sueños y objetivos. Nos enseña que nuestras 
    palabras, pensamientos y acciones pueden moldear nuestra realidad y abrirnos puertas hacia el éxito y 
    la felicidad. También nos muestra la importancia de creer en nosotros mismos y en nuestras capacidades 
    para lograr lo que deseamos.
  </ion-item>
</ion-content>
