<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Josh Lucas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Josh Lucas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="assets/img/Josh.jpg" width="350px" height="250px" alt="Imagen de Josh Lucas"/>
    </ion-item>

    <ion-item class="mio">
      Bray Johnson (Josh Lucas) es un hombre misterioso y carismático que entra en la vida de Miranda Wells, 
      interpretada por Katie Holmes, en un momento en que ella está lidiando con dificultades y desafíos. 
      A medida que la trama se desarrolla, se revela que Bray posee una sabiduría especial y una comprensión 
      profunda de los principios de la ley de la atracción y el poder del pensamiento positivo. 
      <br><br>
      A través de su presencia inspiradora y sus enseñanzas, Bray ayuda a Miranda a cambiar su perspectiva y 
      a comenzar a creer en las posibilidades ilimitadas de la vida. Él la anima a soñar en grande, a enfrentar
       sus miedos y a abrir su corazón a nuevas oportunidades.
    </ion-item>
  </ion-list>

</ion-content>
